/* SocialMediaIcons.module.css */
/* SocialMediaIcons.module.css */
.iconsContainer {
    position: fixed;
    right: 20px; /* Adjust as needed to push it from the right edge */
    top: 50%;
    transform: translateY(-50%); /* Centers it vertically */
    width: 100px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Adjust space between icons */
    align-items: center;
    z-index: 1500; /* High value to stay above other content */
    background-color: #000000;
    color: #000000;
  }
  
  
  .socialIcon {
    margin: 10px 0; /* Spacing between icons */
    /* Additional styling as needed */
    background-color: #000000;
    color: #000000;
  }
   