.topteamSection {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-align: justify;
}

.topMedium {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  text-align: justify;
  background-color: #ffffff;
}

.bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
}

.leftBottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  padding: 0;
  margin: 0 auto;
}
.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #000000;
}

.rightBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0;
  margin: 0;
}

.peopleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  color: #ffffff;
}

.boardImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2em;

}

.boardImageContainer img {
  width: 100%;
  height: auto;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

@keyframes type {
  from {
    width: 0;
    border-right: 2px solid rgb(0, 0, 0);
  }
  to {
    width: 100%;
    border-right: none;
  }
}

@media (max-width: 767px) {
  .topteamSection {
    flex-direction: column;
    padding: 0;
  }

  .topMedium {
    flex-direction: column;
    padding: 0;
  }

  .bottom {
    flex-direction: column;
    padding: 0;
  }

  .leftBottom {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .rightBottom {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}