.topteamSection {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-align: justify;
}

.topMedium {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  text-align: justify;
  background-color: #ffffff;
}

.bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
}

.leftBottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  padding: 0;
  margin: 0 auto;
}

.rightBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0;
  margin: 0;
}

.peopleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  color: #ffffff;
}

.boardImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2em;
}

.boardImageContainer img {
  width: 100%;
  height: auto;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

