.footer {
  width: 100%;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, black, white); /* Gradient from black at the top to white at the bottom */
}

.socialMedia {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .socialMedia {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .socialMedia {
    grid-template-columns: 1fr;
  }
}

.socialIcon a {
  width: auto;
  height: auto;
  padding: 0.5em;
  border-radius: 50%;
}

.socialItem {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.socialText {
  padding-top: 10px;
  justify-content: center;
  width: auto;
  text-align: center;
}

.texts {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;

  color: #ffffff;
  justify-content: center;

  text-align: center;
}