.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.Header {
  padding: 0 2em;
  background-color: #000000;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menuContainer {
  display: flex;
  align-items: flex-start; 
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  
}

.menuItem {
  padding-left: 50px; 
  padding-right: 50px;
}

.menuItem p {
  font-size: 2em; 
  font-family: 'Montserrat', sans-serif; 
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  margin-top: 18px;
}

.menuItem p:hover {
  color: red;
}

.headerLogo {
  display: flex;
  justify-content: center; /* Horizontally center the logo */
  align-items: center; /* Vertically center the logo */
  width: 70px; /* Adjust as needed */
  height: 70px; /* Adjust as needed */
  border-radius: 50%; /* Makes it a circle */
  border: 2px solid white; /* Adjust border as needed */
}

.headerLogo img {
  height: 50px; /* Adjust as needed */
  display: block;
}