.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  color: #ffffff;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  text-align: justify;
  background-color: #ffffff;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5em;
  text-align: justify;
  background-color: black;
  color: white;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  height: 20%;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  height: 20%;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  height: 60%;
}

.top h1 {
  font-size: 4rem;
  overflow: hidden;
  white-space: nowrap;
  animation: type 5s steps(40, end) forwards;
}

.bottom p {
  font-size: 1.2rem;
  margin-top: 2em;
}

.rover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(16px 16px 20px rgba(0, 0, 0, 0.5));
}

@keyframes type {
  from {
    width: 0;
    border-right: 2px solid white;
  }
  to {
    width: 100%;
    border-right: none;
  }
}
