.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: #000000;
  color: #000;
  margin: 0 auto;
}

.topSection {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  text-align: justify;
}

.teamSection {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  text-align: justify;
}

.challengeSection {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  text-align: justify;
  color: #fff;
}

@media (max-width: 767px) {
  .main {
    padding: 1em;
  }

  .topSection {
    flex-direction: column;
    padding: 0;
  }

  .teamSection {
    padding: 0;
  }

  .challengeSection {
    flex-direction: column;
    padding: 0;
  }
}
