.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: #fff;
  color: #000;
}
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  text-align: justify;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  text-align: justify;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  height: 20%;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  height: 20%;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  height: 60%;
}

.top h1 {
  font-size: 4rem;
  overflow: hidden; /* Ensure the text is hidden initially */
  white-space: nowrap; /* Prevent line breaks */
  animation: type 5s steps(40, end) forwards;
}

.bottom p {
  font-size: 1.2rem;
  margin-top: 2em;
}

@keyframes type {
  from {
    width: 0;
    border-right: 2px solid rgb(0, 0, 0);
  }
  to {
    width: 100%;
    border-right: none;
  }
}

@media (max-width: 767px) {

}
