.main {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  min-height: 100vh;
  background-color: #000000;
  margin: 0 auto;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
}

.leftBottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  padding: 0;
  margin: 0 auto;
}

.rightBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0;
  margin: 0;
}

.peopleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  color: #ffffff;
}